<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/tablet.css">
    <link rel="stylesheet" href="/css/desktop.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>  
<body>
    
    
    <header class="main-header">

        <div class="main-header-top-bar">

<div class="arreglo"><img src="/images/logo-mercado-liebre.svg" class="logo">
    <h2 class="copy-header"></h2></div>

    <div class="barrara">
        <input type="text" name="name" placeholder="Buscar productos, marcas, etc">
            <i class="fas fa-search"></i>
    </div>

<div class="centrar">
    <i class="fas fa-hand-holding-usd"></i>
    Compra en cuotas y sin tarjeta de credito

        </div></div>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar"> 
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="registrarse">Crea tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="ingresar">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </nav>
    </header>
    

    <div class="banner"><img src="/images/img-home-banner.jpg" alt="" width="100%"></div>
    
    
    <main class = "iimg margen-inicial">

       
        
    
        <h4 class = "text-title">Basado en tu ultima visita</h4>
       
        <div class="flex">

            <div class="el-padding">
            <div class = "espacio borde-gris2">   
            <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
            
            <div class = "borde-gris">   
               <t><i class="fas fa-truck acomodar ml-verde-texto"></i></t>
            <p class = "text-precios">$6.770</p>
            <p class = "text-descuentos ml-verde-texto">40%off</p>
            <h5 class = "text-descrip"> Cafetera Moulinex</h5></div>
        </div>
    </div>
        
    <div class="el-padding">
        <div class = "espacio borde-gris2"> 
            <div><img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
            <div class = "borde-gris">
                <t><i class="fas fa-truck acomodar ml-verde-texto"></i></t>
            <p class = "text-precios">$230.000</p>
            <p class = "text-descuentos ml-verde-texto">20%off</p>
            <h5 class = "text-descrip"> MacBook Pro 2019</h5></div></div>
        </div>
    </div>
        
    <div class="el-padding">
        <div class = "espacio borde-gris2"> 
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%">
            <div class = "borde-gris">
                <t><i class="fas fa-truck acomodar ml-verde-texto"></i></t>
            <p class = "text-precios">$70.500</p>
            <p class = "text-descuentos ml-verde-texto">10%off</p>
            <h5 class = "text-descrip"> Samsung Galaxy</h5></div>
        </div>
    </div>
        
        <div class="el-padding">
        <div class = "espacio borde-gris2"> 
            <img src="/images/img-tv-samsung-smart.jpg" alt="" width="100%">
            <div class = "borde-gris">

                <t><i class="fas fa-truck acomodar ml-verde-texto"></i></t>
            <p class = "text-precios">$23.200</p>
            <p class = "text-descuentos ml-verde-texto">5%off</p>
            <h5 class = "text-descrip"> SmartTv Samsung 43"</h5></div>
       </div>
    </div>
    </div>
        
        <div>
            <h4 class = "text-title">Seccion de ofertas</h4>

            <div class="flex">

            <div class="el-padding">
            <div class = "espacio borde-gris2">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
                <div class = "borde-gris">
                    <t><i class="fas fa-truck acomodar ml-verde-texto"></i></t>
                 <p class = "text-precios">$6.770</p> 
                <p class = "text-descuentos ml-verde-texto">40%off</p> 
                <h5 class = "text-descrip"> Cafetera Moulinex</h5>
            </div>
            </div>
        </div>
            <div class="el-padding">
            <div class = "espacio borde-gris2">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
                <div class = "borde-gris">
                    <t><i class="fas fa-truck acomodar ml-verde-texto"></i></t>
                    <p class = "text-precios">$230.000</p> 
                <p class = "text-descuentos ml-verde-texto">20%off</p> 
                <h5 class = "text-descrip"> MacBook Pro 2019</h5>
            </div>
            </div>
        </div>
            <div class="el-padding">
            <div class = "espacio borde-gris2">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%">
                <div class = "borde-gris">
                    <t><i class="fas fa-truck acomodar ml-verde-texto"></i></t>
                    <p class = "text-precios">$70.500</p> 
                <p class = "text-descuentos ml-verde-texto">10%off</p> 
                <h5 class = "text-descrip"> Samsung Galaxy</h5>
            </div>
            </div>
        </div>
            <div class="el-padding">
            <div class = "espacio borde-gris2">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="100%">
                <div class = "borde-gris">
                    <t><i class="fas fa-truck acomodar ml-verde-texto"></i></t>
                    <p class = "text-precios">$23.200</p> 
                <p class = "text-descuentos ml-verde-texto">5%off</p> 
                <h5 class = "text-descrip"> SmartTv Samsung 43"</h5>
            </div>
            </div>
        </div>
    </div>
        </div>
    </main>
    <footer class="footer-bien">
        <div class="main-header-top-bar">
            <div class="logos">
                <div><i class="fas fa-credit-card ml-celeste-texto"></i></div>
                <h3>Paga con tarjeta o en efectivo</h3>
        <p>Con mercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></div>
        
        <div class="logos">
            <div><i class="fas fa-gift ml-celeste-texto"></i></div>
            <h3>Envio gratis desde los $2.500</h3>
        <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de mercado puntos.</p></div>
        
        <div class="logos">
            <i class="fas fa-user-shield ml-celeste-texto"></i>
            <h3>Seguridad de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p></div>
        </div>
        
        
        <div class = "margen">
        Copyright © 1999-2020 MercadoLiebre S.R.L.</div>

    </footer>

</body>
</html>